<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Song Fail</title>
</head>
<body>
<h2>This song is already exist,please try again for different song.</h2>
<form action="/addsongs" method="post">
		<label>Song Name</label>
		<input type="text" name="songName" />
		<br>
		<br>
		<label>Song Artist</label>
		<input type="text" name="songArtist" />
		<br>
		<br>
		<label>Song Genre</label>
		<input type="text" name="SongGenre" />
		<br>
		<br>
		<label>Song Link</label>
		<input type="text" name="link" />
		<br>
		<br>
		<input type="submit" value="ADD SONGS"/>
	</form>

</body>
</html>