@charset "ISO-8859-1";

form
{
	background-color:cadetblue;
	
}

.container{
    padding: 20px;
    background-color: white;
    width: 600px;
    height: 680px;
    border-radius: 50px;
    text-align: center;
    margin-left: 34%;
    
    
}

